footer{
    background: #1e2125;
    width: 100vw;
    margin-top: 3rem;

    .container{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        row-gap: 8px;
        padding: 20px;
        color: #CED0D4;
        width: 100%;

        .copyright{
            span{
                color: #fff;
            }
        }

        .social-link--items{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            column-gap: 15px;
            list-style-type: none;

            img{
                width: 30px;
                height: 30px;
            }
        }
    }
}