@import './fonts';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html{
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    color: #fff;
  }

.backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.show-backdrop {
    display: block;
  }

.purchase-modal{
  display: none;
  position: absolute;
  width: 280px;
  height: 245px;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #3c3e41;
  border-radius: 8px;
  padding-top: 65px;
  // color: black;
  z-index: 101;
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);

  .purchase__success{
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    // background: green;
    padding-bottom: 38px;
    row-gap: 38px;
    
    
    .check-icon{
      position: absolute;
      top: -100px;
      background: #d1e0e0;
      border-radius: 50%;
      width: 65px;
      height: 65px;
      display: flex;
      justify-content: center;
      align-items: center;

      img{
        width: 45px;
        height: 45px;
      }
    }

    .purchase--message{
      text-align: center;

      h3{
        font-size: 28px;
        font-weight: 500;
      }

      p{
        font-weight: 500;
      }
    }

    .success-btn{
      background: #d1e0e0;
      width: 231px;
      border: none;
      padding: 3px 0;
      border-radius: 20px;
      cursor: pointer;

      &:hover{
        background: #5d8989;
        color: #fff;
      }
    }
  }
}

.show-purchase--modal{
  display: block;
 
}

.cart-alert--message{
  display: none;
  position: fixed;
  width: 100vw;
  top: 5px;
  


  .cart--warning{
    margin: 0 auto;
    background: #ff8095;
    width: 220px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgba(255, 102, 128,0.75);
    transition: all 0.3s;
  
    p{
      color: black;
      font-weight: 500;
      text-align: center;
      letter-spacing: 0.7px;
      padding: 5px 16px;
    }
  }
}

.show__cart-alert--message{
  display: block;
}


@import './cart';

@import './mainNav'; 

@import './main';

@import './footer';

@import './mediaQueries';